
body {
  /*font-family: Georgia;*/
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif, Georgia,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding: 32px 24px;
}
p {
  margin-top: 0;
  margin-bottom: 12px;
}
h1,h2,h3 {
  font-weight: 400;
  margin: 10px 0;
}
h1 {
  font-size: 36px;
  margin-bottom: 0px;
}
h2 {
  font-size: 32px;
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
}
h3 {
  font-size: 24px;
}
.data {
  margin-left: 40px;
}
.projects, .about-me, .skills, .english, .github {
  margin-left: 40px;
}
/* .contacts {
  margin: 20px 0;
} */
/* .header-title {
  font-size: 18px;
  border-bottom: none;
  margin: 20px 0px; 
} */
/* #header {
  text-align: center;
  margin-bottom: 32px; 
} */
/* #header h2 {
  color: blue;
} */
#footer {
  text-align: center;
  margin-top: 64px; 
}
.position {
  font-style: italic;
}
.company {
  margin-bottom: 10px;
}
a {
  color: rgb(0, 0, 238);
}
